i:before{
  margin-top: -10px !important;

}
#searchIcon{
  margin-top: -10px !important;
}
#bgImageforumPage2{
  height: 585.5px;
   width: 100%;
}
.top-leftforumPage2 {
    position: absolute;
    top: 18px;
    left: 16%;
    font-size: 24px;
    color: white;
    font-family: sans-serif
  } 
  .top-left1forumPage2 {
    position: absolute;
    left: 48%; 
    font-family: "Myriad pro Semibold";
    font-size: 14px;
    top: 27px;
    color: white;
    font-family: sans-serif
  } 
  .top-left2forumPage2 {
    position: absolute;
    left: 54%;
    font-family: "Myriad pro Semibold";
    font-size: 14px;
    top: 27px;
    color: white;
    font-family: sans-serif;
  } 
  .top-left3forumPage2 {
    position: absolute;
    left:60%;
    font-family: "Myriad pro Semibold";
    font-size: 14px;
    top: 27px;
    color: white;
    font-family: sans-serif
  } 
  .top-left4forumPage2 {
    position: absolute;
    left: 66%;
    font-family: "Myriad pro Semibold";
    color: #F89E12;
    font-size: 14px;
    top: 27px;
    color: white;
    font-family: sans-serif;
  } 
  .top-left5forumPage2 {
    position: absolute;
    left: 72%; 
    font-family: "Myriad pro Semibold";
    font-size: 14px;
    top: 27px;
    color: white;
    font-family: sans-serif
  } 
  .top-left6forumPage2 {
    position: absolute;
    top: 18px;
    left: 16%;
    font-size: 24px;
    color: white;
    font-family: sans-serif
  } 
  #btnforumPage2{
    background-color: #F89E12;
    border-radius: 10px;
    border: 1px solid #F89E12;
    height: 20px;
    font-size: 14px;
    margin-left: 62%;
    margin-top: 7px;
    color:black;
    font-family: bolder;
}
#middleSectionforumPage2{
  position: absolute;
  top: 12%;
  left: 16%;
  padding: 5px;
  height: 490px;
  width: 67%;
  background-color: #1e1e1e;
}
#aforumTagforumPage2{
  text-decoration: none;
  color: #F89E12;
  padding: 5px;
}

.Row1forumPage2 {
    display: table;
    width: 55%; 
    /* height: 55%; */
    table-layout: fixed; 
}
.ColumnforumPage2 {
    display: table-cell;
    column-gap: 40%;
    padding-top: 11px;
    /* padding: 5px; */
    /* height: 65%; */
    text-align: center;
    border-radius: 35px;
}
#iconsLessthanforumPage2{
    color:white !important;
    margin-top: 7px;
       
}
#vapIDforumPage2{
  color: white;
  margin-top: 7px;
}
#h2TagforumPage2{
  color: white;
  margin-left: -9px;
}
#pTag2forumPage2{
  color: #F89E12;
  margin-top: -5px;
  margin-left: -7px;
}
#pTag3forumPage2{
  color:white;
}
#midRowforumPage2{
  margin-left: 42%;
}
#iconssforumPage2{
  background-color: #1e1e1e;
  color: white;
  width: 13%;
  height: 18px ;
}
#pTag4forumPage2{
  color:white;
}
#secondDdownforumPage2{
  background-color: #1e1e1e;
  color: white;
  width: 12%;
  height: 18px; 
}
.portGoforumPage2{
    resize: none;
    overflow:hidden;
    color:white;
    height:18px;
    width:35px;
    text-align: center;
    background-color: #1e1e1e;
}
#searchBtnforumPage2{
  width: 25%;
  margin-top: -5px;
  border-radius: 10px;
  height: 30px;
  text-align: left;
  padding-left: 10px;
  
}
.jhnforumPage2{
    font-family: Myriad pro Semibold;

}
.ptag1forumPage2{
    margin-top: -12px;
    font-size: 8px;

  }
.ptag2forumPage2{
    margin-top: -1px;
    font-size: 8px;
}
.ptagsforumPage2{
    margin-top: -11px;
    font-size: 8px;

}
.verticalforumPage2 { 
    border-left: 1px solid white; 
    height: 100px; 
    position:absolute; 
    left: 13%;
    margin-top: -72px; 
} 
h3{
    font-weight: bold;
    color:white;
    font-size: 18px;
    margin-top: -78px;
    margin-left: 135px;
}
#benNameforumPage2{
  color:#ffb33a;
  margin-left:137px;
  margin-top: -12px
}
#benName1forumPage2{
  color:#ffb33a;
  margin-left:137px;
  margin-top: -12px;
}
/* .ben{
    color:'#ffb33a';
    margin-left:137px;
    margin-top: -12px;
} */
#h6TagforumPage2{
  color:white;
  margin-left:100px;
  margin-top:-15.5px;

}
#h6Tag1forumPage2{
  color:white;
  margin-left:55px;
  margin-top:-15.5px;

}
.textSectionforumPage2{
    color:white;
    margin-left: 135px;
    margin-top: -10px;
    font-size: 11px ;
}
#hrTagforumPage2{
  color:#ffffff;
  background-color: #ffffff;
  margin-left:120px;
  width:100%;
  margin-top:30px;
}
#hrTag1forumPage2{
  color:#ffffff;
  background-color: #ffffff;
   margin-left:120px;
   width:125%;
   margin-top:30px;
}
#middleFooterpartforumPage2{
  color: white;
  font-size: '12px';
  padding-left: 15%;
}
#startFooterpartforumPage2{
  color: white;
  font-size: 15px
}