/* Small devices (landscape phones, 576px and up) */
@media (max-device-width:36em){
    

        body{
            /* background-color:orange;
            border: 1px solid red !important; */
          }
        #vapBglogin{  
           height: 1241px ;
         }
         #examplelogin{           
          position: absolute;
          top: 17%;
          left: 21%; 
          padding: 5px;
          background-color: white;
          width: 60%;
          height: 780px !important;     
        }
        .p1login{
          font-size: 22px;
        }
        .p3login{
          text-align: center;
          margin-top: -10%;
        }
        .top-leftlogin {
          position: absolute;
          top: 18px;
          left: 16%;
          font-size: 32px;
          color: white;
          font-family: sans-serif
      }   
      .top-centerlogin {
        position: absolute;
        text-align: center;
        top: 18px;
        left: 30%;
        font-size: 35px !important;
        color:black;
        font-family: sans-serif;
        width: 38% !important;
        text-size-adjust: auto;
      } 
      .wlcomelogin{
        font-weight: bold;
        text-align: center;
        padding-top: 18%;
        font-size: 40px;
      }  
      input,
      input::-webkit-input-placeholder {
          font-size: 20px;
          line-height: 3;
      }
      #emaillogin{
        height: 0px;
        /* height: 38px; */
        margin-left:0;
        width:100%;
      }
      #pwdlogin{
        /* margin-left: -37%; */
        width:100%;
        height: 38px;
        margin-left:-15%;
      }
        .p2testlogin{
          padding-top: 20px;
          font-size: 20px;
          padding-left: 55px;
        }
        .vaplogin{
          color: white;
          font-size: 30px;
          margin-top:-90px;
          text-align: center;
          
      }
      .btnlogin{
        margin-top: 12%;
        margin-left:35% ;
        width:28%;
        font-size: x-large;
      }
      
    }




  

    
    /* Medium devices (tablets, 768px and up) */
      @media (min-device-width: 48em) and (max-device-width:60em) { 
      body{
        background-color:pink;
      }
      #pwdlogin{
        border:1px solid #f89e12;
        margin-left: -27.5%;
    }
    #vapBglogin{
      height:727px !important;
      width: 100% !important;

    }
    #eyePwdlogin{
      font-size: medium;
      float: right;
      margin-top: -28px;
      margin-right: 50% !important;
  }
    #examplelogin {
      position: absolute; 
      top: 15%;
      left: 35%; 
      padding: 5px;
      background-color: white;
      width: 37%;
      height: 475px !important;     
  }
  .p1login{
    font-size: small;
  }
  .p3login{
    text-align: center;
    font-size: 15px;
    margin-top: -15%;
  }
  .top-centerlogin {
    position: absolute;
    text-align: center;
    top: 18px;
    left: 28%;
    font-size: 22px !important;
    color:black;
    font-family: sans-serif;
    width: 38% !important;
    text-size-adjust: auto;
  }   
  .wlcomelogin{
    font-weight: bold;
    text-align: center;
    padding-top: 18%;
    font-size: xx-large;
  }
  #emaillogin{
    height: 0px;
    /* height: 38px; */
    margin-left:0;
    width:100%;
  }
  #pwdlogin{
    margin-left: -29%;
    width:100%;
    height: 38px;
    /* margin-left:0; */
  }
  .p2testlogin{
    font-size: small;
  }
  .btnlogin{
    /* padding-top: -12px; */
    margin-top: 10%;
      margin-left:35% ;
      width:28%;
      font-size: large;
  }
  .vaplogin{
    /* font-size:x-large ;
    margin-left:450px !important;
    color: white; */
          font-size: 25px;
          margin-top:-90px;
          text-align: center;
          margin-left:50px
  }


    }

   
  
    /*  Large devices (desktops, 992px and up) */
    @media  (min-width: 62em){
      body{
        background-color:pink;
      }
      #pwdlogin{
        border:1px solid #f89e12;
        margin-left: -27.5%;
    }
    #vapBglogin{
      height:760px !important;
      width: 100% !important;

    }
    #eyePwdlogin{
      font-size: medium;
      float: right;
      margin-top: -28px;
      margin-right: 50% !important;
  }
    #examplelogin {
      position: absolute; 
      top: 15%;
      left: 35%; 
      padding: 5px;
      background-color: white;
      width: 37%;
      height: 485px !important;     
  }
  .p1login{
    font-size: 15px;
  }
  .p3login{
    text-align: center;
    margin-top: -17%;
    font-size: medium;
  }
  .top-centerlogin {
    position: absolute;
    text-align: center;
    top: 18px;
    left: 28%;
    font-size: 22px !important;
    color:black;
    font-family: sans-serif;
    width: 38% !important;
    text-size-adjust: auto;
  }   
  .wlcomelogin{
    font-weight: bold;
    text-align: center;
    padding-top: 18%;
    font-size: xx-large;
  }
  #emaillogin{
    height: 0px;
    /* height: 38px; */
    margin-left:0;
    width:100%;
  }
  #pwdlogin{
    /* margin-left: -37%; */
    width:100%;
    height: 38px;
    margin-left:-28%;
  }
  .p2testlogin{
    font-size: 13px;
    padding-left:25px ;
  }
  .btnlogin{
    /* padding-top: -12px; */
    margin-top: 10%;
    margin-left:35% ;
    width:35%;
    font-size: large;
  }
  .vaplogin{
    font-size:medium ;
    left:-450px !important;
  }


}

  
  
  
  
    /* Extra large devices (large desktops, 1200px and up) */
  
    @media (min-width: 75em) { 
      body{
          background-color:purple;
     }
      #vapBglogin{
          height:657px !important;
          width: 100% !important;
      }
      /* #pwdlogin{
        border:1px solid #f89e12;
        margin-left: -37%;
      } */
      #emaillogin{
        height: 0px;
        /* height: 38px; */
        margin-left:0;
        width:100%;
      }
      #pwdlogin{
        /* margin-left: -37%; */
        width:100%;
        height: 38px;
        margin-left:-33%;
      }
      #examplelogin {
        position: absolute;
        top: 15%;
        left: 38%; 
        padding: 5px;
        background-color: white;
        width: 24%;
        height: 435px;       
     }     
      .top-centerlogin {
        position: absolute;
        text-align: center;
        top: 3%;
        left: 30%;
        font-size: medium !important;
        color:black;
        font-family: sans-serif;
        text-size-adjust: auto;
        font-size: 200% !important;
      }  
    
     .wlcomelogin{
       font-size: x-large;           

     }
     .p3login{
      text-align: center;
      margin-top: -10%;
    }
  
      #emaillogin{
        height: 15px !important;
      }
      .p1login{
        font-size: 10px;
      }
      .p2testlogin{
        font-size: 10px !important;
      }
      .vaplogin{
        font-size:medium ;
        padding-top: 15px;
      }
   
  
}
  
  
  
   
  